/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #2a2a2a;
    color: #fff;
}

/* Basic styles for the navbar */
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}
/* Logo styling */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}
/* Navigation links styling */
.nav-links {
    display: flex;
}

.nav-links li {
    margin: 0 35px;
}

.nav-links a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.45s ease;
    margin: 0 25px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #e0e0e0;
    /* Lighter color for active/hover */
    background-color: darkgray;
    /* Darker green background on hover */
    border-radius: 10px;
    /* Optional: rounded corners */
}

/* Menu toggle button for mobile view */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: gray;
        /* Green background for mobile view */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}


.container{
    display: flex;
    flex-direction: column;
}

.home{
    height:100vh;
    width: 100%;
    position: relative;
    background-image:url('1.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
} 
